h1{
font-size: 30px;
text-align: center;
color: #FF9696
}

body{
font-size: 16px;
font-family: Helvetica, sans-serif;
color: #242424;
background-image: url("https://media.istockphoto.com/photos/flock-of-speed-racing-pigeon-flying-isolated-white-background-picture-id1081723770")
}
